html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    background: url('Background.jpg') no-repeat center center fixed;
    background-size: cover; /* Cover the entire page */
    color: #333;
}

#question-container {
    width: 100%;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* For positioning the icon */
}

#question-text {
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.2em;
    text-align: start;
}

#answers-list {
    width: 100%;
    list-style: none;
    padding: 0;
}

#answers-list li {
    background: #e8e8e8; /* Light grey background */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #333;
    text-align: start;
}

button:hover {
    background-color: #dcdcdc;
}

button.selected {
    font-weight: bold;
    color: #0056b3;
}

#next-question, #check-answers {
    width: 25%; /* Adjusted for side by side buttons */
    padding: 12px;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 7px;
    border: none;
    margin-right: 0%; /* Space between buttons */
}

#next-question {
    background-color: #4CAF50; /* Green */
}

#next-question:hover {
    background-color: #45a049;
}

#check-answers {
    background-color: #f44336; /* Red */
    margin-right: 0; /* Correcting margin for last item */
}

#check-answers:hover {
    background-color: #dc2836;
}

.plus-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #bbb;
}
